.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #2e100f;
}

.App-header {
    background-color: #e6f3f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.abouts {
    display: flex;
    width: 70%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}


.abouts1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.NavBar {
    z-index: 1;
    position: sticky;
}

.titleTypo {
    margin-left: 10px ;
}

.conCarous {
    z-index: 0;
}
.carous {
    height: 72%;
    width: 100%;
    margin: auto;
}

.prodYear {
    height: 40vh;
    width: 100%;
}

.cardYear {
    height: 40px;
    width: 100%;
}

.list-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.justify-content-between{
    margin: 5px 10%;
    
}